* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: aliceblue;
    font-family: "Ojuju", sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* Verhindert Scrollen */
}

#background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

#logo {
    max-width: 20vw;
    margin: 4vh 0 2vh 0;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.4vw;
}

.socials {
    display: flex;
    flex-direction: row;
    justify-content: center; /* Zentriert die Kreise horizontal */
    gap: 10px;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.socialbox {
    border: 2px solid white;
    padding: 5px; /* Feste Padding-Größe */
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: transform 0.3s ease, background-color 0.3s ease; /* Übergangseffekte */
}


.socialbox:hover {
    transform: scale(1.1); /* Vergrößert die Kreise beim Hover */
    background-color: rgba(255, 255, 255, 0.1); /* Ändert die Hintergrundfarbe beim Hover */
}



main {
    align-items: center;
    margin-top: 3%;
}

.links-div {
    width: 40vw;
    display: flex;
    flex-direction: column;
    margin: 0 auto 30px auto;
    max-width: 500px;
}

.video-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

iframe {
    width: 80%;
    max-width: 800px;
    height: 450px;
    border: none;
    aspect-ratio: 16/9; /* Aspect Ratio hinzufügen, um das Video proportional zu skalieren */
    margin-bottom: 3vh;
}


.links-div a button {
    font-size: 3vh; /* oder jede andere gewünschte Größe */
  }

button {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  outline: none;
  color: #fff;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 15px;
  box-shadow: 0 9px #cccccc7b;
  width: 40vw;
  margin: 3vh 0;
  height: 6.5vh;
  max-width: 500px;
}

button:hover {
    background-color: #ffffff3b;
    font-weight: bold;
}


button:active {
    background-color: transparent;
    box-shadow: 0 5px #7b7b7b7b;
    transform: translateY(4px);
  }

@media only screen and (max-width: 428px) { /* iPhone 14 Pro viewport width */
    * {
        font-size: 16px; /* Hier die gewünschte Schriftgröße für kleinere Viewports einstellen */
    }

    header {
        font-size: 18px; /* Hier die gewünschte Schriftgröße für den Header anpassen */
    }

    button {
        font-size: 16px; /* Hier die gewünschte Schriftgröße für die Buttons anpassen */
    }
}

@media (max-width: 600px) {
    iframe {
        height: auto;
    }
}